*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
  overflow: hidden;
}


.topBar{
  height: 3.8em;
  width: 100%;
  background-color: white;
  z-index: 1;
  
}

.slider{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    background: linear-gradient(to left,lightyellow, rgb(67, 64, 211));
    z-index: -1;
    
}

h1{
  text-shadow: 2px 2px rgba(255, 255, 255, 0.295);

}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  display: inline-block;
  margin: auto;
  padding-top: .6em;
  /* padding-left: 4em; */
 }

 .description p{
   font-family: sans-serif ;
 }

nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 5vh;
    color: white;
    align-items: center;
}

 #logo{
    grid-column: 2/3; 
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
}


section {
    display: flex;
    height:80vh;
    justify-content: center;
    align-items: center;
 
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.hat {
  
    height: 45%;    
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-70%, -70%);
  
}

.hat h2{
  
  font-family: 'Sansita Swashed', cursive;
    }

    .hat a{
      color: #36291c;
    }

.s1 { 
    
    background-color: #EFEAE4; 
    background-size: cover;
    
}

.s1 h2{
  font-size: 1.2em;
  font-family: 'Cinzel', serif;
width: 100%;
text-align: center;

}

.s1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.section h1{
  
  font-family: 'Sansita Swashed', cursive;
    font-size: 4vw;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: linear-gradient(to left, #F4BC67, #A0CFD3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.s2{
    /* background: linear-gradient(to left, #BCCCCC, white); */
    background-color: #EFEAE4; 
}

.s2 h1{
    font-size: 4vw;
    background: linear-gradient(to left, #F4BC67, #A0CFD3);
    -webkit-background-clip: text;
  
    -webkit-text-fill-color: transparent;
    
}

.description{
  
    width: 50%;
    margin-left: 5%;
    padding-top: 10%;
    
    font-size: 1.3vw;
    font-family: 'Sansita Swashed', cursive;
}

.description p{

    width: 30%;
}



.imageChange {
    margin:0;
}

@media only screen and (max-width: 600px) {

    .section h1{
        font-size: 10vw;
    
    }
    .description{
        margin: 20%;
        width: 90%;
        margin-left: 5%;
        font-size: .8em;
        z-index: 1;
        
    }
    
    .description p{
  
        height: 30%;
        
    }
     
    
    .s2 h1{
        font-size: 10vw;
      
    }

    .s1 img{

      width: 30%;
    }

    .s1 h2{
      font-size: 1em;
  
    }

    .hat h2{
  font-size: 2em;
  font-family: 'Sansita Swashed', cursive;
    }



  }













