
body{
    max-width: 100vw;
    /* height: 100vh; */
    /* background-image: url("images/SnowboardBackgroundModify12-2.png"); */
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #d9d9d9;
    margin: 0;
}

.heading{
    padding-top: 2%;
    padding-bottom: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3.8vw; 
    font-style: normal; 
    font-weight: 500;
    color: #353535;
    /* filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.527)); */
    animation: fadeIn 2s;
}




.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width:22vw;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.51));
    animation: fadeIn 4s;
}

.rotating-text-wrapper {
margin: 0;
padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.rotating-text-wrapper h6 {
  color: #000000;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
.rotating-text-wrapper h6:nth-child(1) {
  animation-name: rotating-text-1;
  /* background-color: lightseagreen; */
}
@keyframes rotating-text-1 {
  0% {
    transform: translateY(200%);
  }
  33% {
    transform: translateY(100%);
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}
.rotating-text-wrapper h6:nth-child(2) {
  animation-name: rotating-text-2;
  /* background-color: tomato; */
}
@keyframes rotating-text-2 {
  33% {
    transform: translateY(100%);
    opacity: 0;
  }
  66% {
    transform: translateY(0);
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
}
.rotating-text-wrapper h6:nth-child(3) {
  animation-name: rotating-text-3;
  /* background-color: cornflowerblue; */
}
@keyframes rotating-text-3 {
  66% {
    transform: translateY(0);
    opacity: 0;
  }
  99% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@media screen and (max-width: 576px) {
  .rotating-text-wrapper {
    font-size: 0.7rem;
  }
}

.selected2 {
    margin: 0;
    opacity: 100%;
    width:10vw; 
    max-width:10vw; 
    padding:3px;
    border:3px solid white;
    border-radius:50%; 
    filter: drop-shadow(4px 4px 3px #000000d8);
    animation-name: color;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    }
    
.default2{
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    opacity:90%;
    border-radius:50%; 
    max-width:11vw; 
    /* border:3px solid #3A476B; */
    }

.projects{
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
    text-align:center; 
    }

.projectRow{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100vw;
    vertical-align: text-top;
    margin: 0;
    justify-content: space-evenly;
    font-size: 24px; 

    }

.projectThumbnail{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    animation: fadeIn 6s;
    width: 160px;
    height: auto;
    }

.hoverOffDesc{
    opacity:100;
    margin: 0;
    display:none;
    position:relative;
    text-align:center;
    }

.hoverText{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    }

.workIcon{
    border-radius:50%; 

    /* filter: drop-shadow(4px 4px 3px #ffffffcf); */
    }

 .leaf-icon {
      fill: white; /* Initial color */
      transition: fill 0.3s ease; /* Optional: smooth transition */
      filter: drop-shadow(3px 3px 10px #00000077);
     margin: auto;
     border: 8px solid #3C6E71;
     padding: 20px;
     border-radius: 50%;
    }


    .leaf-icon:hover {
      fill: #3C6E71; /* Color on hover */
    }

    /* Alternatively, if targeting internal paths: */
    .leaf-icon path {
      fill: white;
      transition: fill 0.3s ease;
    }

    .leaf-icon:hover path {
      fill: #3C6E71;
    }


/* Acorn Icon */

 .acorn-icon {
      fill: white; /* Initial color */
      transition: fill 0.3s ease; /* Optional: smooth transition */
      filter: drop-shadow(3px 3px 10px #00000077);
     margin: auto;
     border: 8px solid #284B63;
     padding: 20px;
     border-radius: 50%;
    }


    .acorn-icon:hover {
      fill: #284B63; /* Color on hover */
    }

    /* Alternatively, if targeting internal paths: */
    .acorn-icon path {
      fill: white;
      transition: fill 0.3s ease;
    }

    .acorn-icon:hover path {
      fill: #284B63;
    }


/* .workIcon svg:hover{
    width: 11vw;
    filter: drop-shadow(4px 4px 1px #0000009b);
    background-color: #3C6E71;
    transition: background-color 1.5s ease;
    } */

.workPopup{
    animation: fadeIn 1.5s;
    z-index: 5;
    font-size: 18px;
    display: flexbox;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    }

.contactPopup{
    animation: fadeIn 1.5s;
    z-index: 5;
    font-size: 18px;
    display: flexbox;
    justify-content: space-between;
    height: 100%;
    width: 100%;
        }

.workLinks{
    margin:5px;
    margin-top: 1vh;
    font-size: 14px;
    opacity:90%;
    border-radius:50%; 
    max-width:11vw; 
    border:3px solid #62a9d9;
    display: inline;
    justify-content: space-between;
    
    }

    .workLinks:hover{
filter: drop-shadow(4px 4px 1px #0000009b);
    }


.acc1 .profiles{
    text-align: left;
    }    

    
.skills{
    margin: 6vw;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    float: left;
    /* width: 30vw; */
    padding: 10px;
    animation: fadeIn 1.5s;
    }
.skills p{
    font-weight: 300;
    margin:1vw;
    }
    
.profiles{
    margin: 6vw;
    margin-left: 2vw;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-weight: 100;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5vw;
    animation: fadeIn 2.5s;
    float: left;
    font-style: italic;
    /* filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.527)); */
}




.profileImage:hover{
 font-weight: 900;
       font-size: 3.5vw;
           filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.527));

}

h6{
     font-family: 'Roboto', sans-serif;
     margin-top: 20px;
    font-size: 3vw;
    animation: fadeIn 2.5s;
    /* float: left; */
    font-style: italic;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

}


.profiles h5{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.profiles a{
    color:#3A476B;
    font-weight: 100;
}

.about{
    margin: 6vw;
    margin-top: 0;
    margin-bottom: 0;
    animation: fadeIn 1.5s;
    display: flexbox;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom:1px solid rgba(0, 0, 0, 0.12);

    font-family: 'Roboto', sans-serif;
    float: left;
    }  

.about p{
    font-weight: 300;
    margin:1vw;
        }

.acc1 .heading{
    color: black;
    font-size: 3vw;
    margin-bottom: 0px;
    }
    
 .st0 {
        fill-rule: evenodd;
      }
.menuText{
    font-weight: 800; 
    font-style: italic; 
    font-size: 1.7vw;
    margin-top: 15px;
    margin-bottom: 0;
    filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
                  
}

#workCreationPopup{
    z-index: 5;
    background-color: #d9d9d9;
    border: 0px;
    position:absolute;
    height: fit-content;
    min-height: 120vh;
    width: 100vw;
    top:0;
    right:0;
    left:0;
    bottom:0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    }


#contactInfoPopup{
    z-index: 5;
    background-color: #d9d9d9;
    border: 0px;
    position:absolute;
    height: fit-content;
    width: 100vw;
    top:0;
    right:0;
    left:0;
    bottom:0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    }
.webWork{
    /* display: inline-block;  */
    /* display: flexbox; */
    margin: auto; 
    padding: 20px; 
    text-align: center;
    color:#000000;
}
.webWork img:hover{
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.51));
}

.webWorkContainer{
    display: flex;
}

.closeIcon{
    cursor: pointer;
    position: absolute;
    font-size: small;
    font-weight: 100;
    animation: fadeIn 2s;
         }

.closeIcon img{
    padding:10px;
    margin:10px;
    margin-bottom: 0px;
    width:3em;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    background-color: rgba(255, 255, 255, 0.486);
}

.closeIcon img:hover{
    background-color: #da2222a9;
    transition: background-color 1s ease;
 }
 .projectContainer{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

 .projectImageSoundpound{
     background-image: url("images/soundpoundsquare.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;

    width: 20vw;
    height: 10vw;
    border-radius: 10px;
    opacity: 0.7;
      color: white;       
      font-size:30px;
       -webkit-text-stroke-width: 1px; /* Sets the thickness of the stroke */
  -webkit-text-stroke-color: rgb(255, 255, 255);
            filter: grayscale(50%);

 }

.projectImageKaleidoscopicVisualizer{
    background-image: url("/images/kscopesquare.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;

    width: 20vw;
    height: 10vw;
    border-radius: 10px;
    opacity: 0.7;
      color: white;       
      font-size:30px;
       -webkit-text-stroke-width: 1px; /* Sets the thickness of the stroke */
  -webkit-text-stroke-color: rgb(255, 255, 255);
            filter: grayscale(50%);
}


 .projectImageBreathVisualizer{
     background-image: url("/images/breathvisualizersquare.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 10vw;
    border-radius: 10px;
    opacity: 0.7;
      color: white;       
      font-size:30px;
       -webkit-text-stroke-width: 1px; /* Sets the thickness of the stroke */
  -webkit-text-stroke-color: rgb(255, 255, 255);
            filter: grayscale(50%);

 }

 .projectImageARDogParks{
     background-image: url("/images/ardogparkssquare.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 10vw;
    border-radius: 10px;
    opacity: 0.7;
      color: rgb(0, 0, 0);       
      font-size:30px;
       -webkit-text-stroke-width: 1px; /* Sets the thickness of the stroke */
  -webkit-text-stroke-color: rgb(0, 0, 0);
      /* text-shadow: 2px 3px black; */
      filter: grayscale(50%);
 }

 .projectImageBeerbuddy{
     background-image: url("/images/beerbuddysquare.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 10vw;
    border-radius: 10px;
    opacity: 0.7;
      color: rgb(0, 0, 0);       
      font-size:30px;
       -webkit-text-stroke-width: 1px; /* Sets the thickness of the stroke */
  -webkit-text-stroke-color: rgb(0, 0, 0);
        filter: grayscale(50%);


 }

 .projectContainer img{
    width: 20vw;
    border-radius: 10px;
    opacity: 0.5;
    display: block;
    margin: 10px;
  
 }

 .projectImageSoundpound:hover , .projectImageBeerbuddy:hover, .projectImageARDogParks:hover, .projectImageBreathVisualizer:hover, .projectImageKaleidoscopicVisualizer:hover{
        transition: 0.4s;
    opacity: 1;
    filter: grayscale(0%);
    /* color: white; */
 }

.projectImageSoundpound p, .projectImageBeerbuddy p, .projectImageARDogParks p, .projectImageBreathVisualizer p, .projectImageKaleidoscopicVisualizer p{
   padding-top: 80px;
 }
 


   
/* encompasses accordions */
.acc1{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 1vh;
    animation: fadeIn 2.5s;
    /* display: flex; */
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    /* background-color: #eee; */
    color: #ffffff;
    background-color:#3C6E71;
    cursor: pointer;
    padding: 18px;
    /* margin-top: 1vh; */
    width: 20vw;
    height:50px;
    text-align: left;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    margin-top: 10px;
    
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
    border: 2px solid #3C6E71;
    color: #444;
  }
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 18px;
    border: 2px solid rgba(0, 0, 0, 0.144);
    border-top: 0px;
    margin: auto;
    display: none;
    width: 17vw;
    z-index: 5;
    background-color: white;
    animation: fadeIn 0.5s;
    flex-wrap: wrap;
    text-align:left ;
  }

.panel div{
    margin-top: 0;
    padding-top:0;
  }

   

    @keyframes color {
      0% {
        border-color: #E3E1CE;
    }
    33% {
        border-color: #9C806D;
      }
    
      66% {
        border-color: #62a9d9;
      }

   
      100% {
        border-color: #E3E1CE;
      }
    }
    
    


@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  @media only screen and (max-width: 840px) {

     .accordion {
width: 60vw;
height: fit-content;
 }
 .panel{
  width: 60vw;
 }

 .webWorkContainer{
  display: unset;
 }

 div.projectImageSoundpound, .projectImageARDogParks, .projectImageBeerbuddy, .projectImageBreathVisualizer, .projectImageKaleidoscopicVisualizer{
min-height:150px;
  min-width: 60vw;
  font-size: 22px;
 }
 

  }

  @media only screen and (max-width: 600px) {
    .default2{
        max-width:20vw; 
        margin-top: 30vw;
    }
     .leaf-icon{
        max-width:30vw; 
        /* padding-top: 30vw; */
    }
     .acorn-icon{
        max-width:30vw; 
        /* padding-top: 30vw; */
    }
    .logo{
      width: 50vw;
      margin-bottom: 30vw;
    }
    .selected2{
        max-width:30vw; 
    }
    .heading {
        font-size: 8vw; 
    }
    .about{
      margin-top:30px;
    }
    .profiles, h6{
        font-size: 7vw; 
        padding-left:15px;
    }
    .webWork p {
      margin:0;
    }
    .workLinks{
    max-width:20vw; 
    }
    .projectImageSoundpound p, .projectImageBeerbuddy p, .projectImageARDogParks p, .projectImageBreathVisualizer p, .projectImageKaleidoscopicVisualizer p{
   padding-top: 10px;
 }

    .workIcon img:hover{
        width: 20vw;
      }
    .workPopup{
        font-size: 14px;
    }
    #workCreationPopup{  
        height: 140vh;
    }
.acc1 .heading{
    font-size: 5vw;
}

.projectThumbnail{

    width: 130px;
    height: auto;
    }
.menuText{
    font-size: large;
}
.accordion {
width: 60vw;
 }
    
  }





  @media only screen and (max-width: 385px) {
    .logo {
        width:60vw;
    }
    .heading {
        font-size: 9vw; 
    }
    .profiles{
        font-size: 8vw; 
    }
    .acc1 .heading{
    
        font-size: 8vw;
    }
    .mobile {
        pointer-events: none;
      }
      .default2{
        max-width:30vw; 
        margin-top: 30vw;
    }
    .leaf-icon{
        max-width:30vw; 
        margin-top: 25vw;
    }
     .acorn-icon{
        max-width:30vw; 
        margin-top: 25vw;
    }
    .selected2{
        min-width:30vw; 
    }
    .workLinks{
    max-width:50vw; 
    }
    .workIcon img:hover{
        width: 30vw;
      }
    #workCreationPopup{
        
        height: 220vh;
    }
    .closeIcon img{
        width:1.2em;
    }
    .workPopup{
        font-size: 16px;
    }
    .webWorkContainer{
    display: block;
    width:25%;
}
h6{
    font-size: large;
}
.menuText{
    font-size: large;
}
    .projectThumbnail{

    width: 40vw;
    height: auto;
    }
 .projectImageSoundpound, .projectImageARDogParks, .projectImageBeerbuddy, .projectImageBreathVisualizer, .projectImageKaleidoscopicVisualizer{
  
    width: 50vw;
    height: auto;
    padding-top: -30px;
    border-radius: 10px;
    opacity: 0.7;
      color: white; 
      display: flex;     
      font-size:30px;
       -webkit-text-stroke-width: 1px; /* Sets the thickness of the stroke */
  -webkit-text-stroke-color: rgb(255, 255, 255);
      text-shadow: 2px 3px black;
 }
 
 .panel{
    width: 40vw;
 }



  }

